.graphCanvas {
	width:500px;
	height:500px;
	float:left;
	border: black solid 1px;
	background-color: #EEEEEE;
	margin:10px;
}

#commandBox {
	width: 200px;
	height:500px;
	float:right;
	padding:10px;
}

.graphcalc {
	width: 744px;
	height:540px;
	position:absolute;
}