.chart {
    border:1px solid gray;
}

.chart rect {
    fill: rgb(100,50,150);
    stroke: white;
}

.chart text {
    font: 10px sans-serif;
    fill: #CCCCCC
    
}

.chart line {
    stroke: #CCCCCC;
}

.chart .bar-label {
    fill: #FFFFFF;
}