---
layout: default
title: Post
---

<h1><a href="{{page.url}}" title={{page.title}}>{{page.title}}</a></h1>
    
      
        <span class="published_on">
          Published on {{ page.date | date: "%d %B, %Y"}}
    
          
            in
            
            {% for tag in page.tags %}
            {% if forloop.last %}and {% endif %}
              <a href="#" class="tag">{{tag}}</a>{% unless forloop.last %}, {% endunless %}
                
            
            {% endfor %}
            
          
         </span>
       
              {{ content }}